#aboutPage {
  height: 100%;
}

.aboutComponent {
  .verticalFlexBox();
}

.aboutHeader {
  .logoHeader();
  .bottomGreyBorder();
  background-position-x: @horizontalPageMargin+32px;
  cursor: pointer;

  .icon-arrow-back {
    display: inline-block;
    margin-left: @horizontalPageMargin;
    background-position-y: center;
    height: 55px;
    width: 24px;
  }
}

.aboutBody {
  .flex-grow(1);
  overflow-y: auto;
  padding-bottom: 15px;
  .bottomGreyBorder();
}

.aboutFooter {
  .logFileSection {
    .bottomGreyBorder();

    .openLogFileTitle {
      float: left;
    }
    padding: @horizontalPageMargin;
  }

  .externalTextLink {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.aboutMain {
  .horizontalPageMargins();
}



.logfileLocationValue {
  word-break: break-all;
  width: 100%;
}

.about-tab-label {
  color: @text-dark-grey;
  padding-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about-tab-value {
  color: @sidebar-grey;
  word-wrap: break-word;
}

div.about-item {
  margin-bottom: 18px;
}

.aboutComponent .externalTextLink {
  display: block;
  .horizontalPageMargins();
}