.errorMessage {
  font-size: 13px;
  margin-top: 1em;
  font-weight: 400;
  padding: 15px;
  color: #fff;
  background-color: @acroRed;

  .errorMessageMain {
  }

  .detailedErrorSection {
    text-align: right;

    .detailsButton {
      .commonButton();
      .user-select(none);
      display: inline-block;
      color: #ffffff;
      text-align: right;
      padding: 0 @horizontalPageMargin;
      line-height: 30px;
      &:hover {
        background-color: #f26a7c;
      }
    }

    .detailedErrorMessage {
      text-align: left;
      white-space: pre-line;
      word-wrap: break-word;
    }

  }

}