.idea
.private
node_modules
tmp
/dist
app/scripts
app/styles/index.css
app/version.properties
TESTS-PhantomJS*

# bower components and cache
bower_components
.bower-cache
.bower-registry
.bower-tmp
npm-debug.log*

# Maven
/target/

# Eclipse
.settings/
.classpath
.project
