.aboutHeader {
  .bottomGreyBorder();
  height: 50px;
  background-position-x: @horizontalPageMargin;
  background-position-y: center;
  cursor: pointer;
}

.aboutMain {
  .horizontalPageMargins();
}

.logFileContent{
  .horizontalPageMargins();
}

.logfileLocationValue {
  word-break: break-all;
}

.about-tab-label {
  color: @text-dark-grey;
  padding-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about-tab-value {
  color: @sidebar-grey;
  word-wrap: break-word;
}

div.about-item {
  margin-bottom: 18px;
}