html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-size: 13px;
  font-family: 'Roboto', 'Arial', sans-serif;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html #app input {
  font-family: 'Roboto', 'Arial', sans-serif;
}

h1 {
  color: @sidebar-grey;
  font-size: 18px;
  margin-top: 25px;
  font-weight: 400;
}

.loginHeader {
  background: url(../images/acrolinx-claim.svg) no-repeat;
  background-size: 213px;
  background-position-x: 15px;
  background-position-y: center;
  border-bottom: 1px solid #dadada;
  height: 55px;
  cursor: pointer;
}


#serverAddressTitle {
  position: relative;
}

#httpsRequiredIcon {
  top: 2px;
  margin-left: 5px;
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-size: cover;
  .icon-vpn-lock-grey();
}


#serverAddress {
  display: block;
  margin-top: 15px;
  width: 100%;
  font-size: 13px;
  color: @acroBlue;
  appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border-bottom: solid 1px @acroBlue;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-weight: 400;
  overflow: hidden;
  padding: 4px;
  outline: 0;
  background: #fff;
}

.buttonGroup {
  text-align: right;
}

.submitButton {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Roboto', 'Arial', sans-serif;
  border-radius: 2px;
  padding: 0 10px;
  line-height: 27px;
  background-color: @acroBlue;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 0 0 auto;
}

.submitButton:disabled {
  opacity: 0.5;
}

.submitButton:disabled:hover {
  cursor: default;
}

#serverSelectorForm {
  display: block;
}

.formContent {
  padding: 0 15px 0;
}

#sidebarContainer,
#sidebarContainer iframe {
  width: 300px;
  height: 100%;
  border: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#errorMessage {
  margin: 0 15px 15px;
  background-color: @acroRed;
  color: #fff;
  border-radius: 4px;
  padding: 1.5em;
  font-size: 13px;
  margin-top: 1em;
  font-weight: 400;
}

#logfileLocationValue {
  width: 100%;
}
