name: Build

on:
  push:
  pull_request:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Setup SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v6
        with:
          args: -Dsonar.organization=acrolinx
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Install dependencies
        run: |
          npm ci
          npm run lint:check
          npm run format:check
          npm run build
          npm run test
